/target
/debug
/web/public
/docs/rhai_book/src/reference

*~
\#*\#
.\#*
*.bak
a.wav
repomix-output.xml
repomix*.xml
*.tgz
*.tar
*.diff
log?
.aider*
nohup.out
config.toml
!web/config.toml

# System/editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/
