/target
/debug
/web/public
/web/static/docs/rhai
/docs/schemas
/docs/rhai_book/src/reference

*~
\#*\#
.\#*
*.bak
a.wav
repomix-output.xml
*.tgz
*.tar
.aider*
nohup.out
config.toml
!web/config.toml

# System/editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/
